In [1]:
import pandas as pd
import numpy as np
import random

## Medidas de posição

In [2]:
# Lista com 90 números entre 1 e 10
lista_1_10 = [random.randint(1, 10) for _ in range(90)]

# Lista com 10 números entre 300 e 700
lista_300_700 = [random.randint(300, 700) for _ in range(10)]

print("Lista com 90 números entre 1 e 10:")
print(lista_1_10)

print("\nLista com 10 números entre 300 e 700:")
print(lista_300_700)

Lista com 90 números entre 1 e 10:
[9, 4, 4, 1, 7, 10, 4, 7, 8, 1, 8, 10, 9, 9, 2, 6, 10, 3, 4, 8, 9, 8, 4, 5, 3, 1, 1, 1, 1, 2, 1, 8, 2, 6, 10, 1, 9, 8, 9, 9, 9, 4, 7, 8, 7, 2, 3, 6, 7, 10, 7, 3, 4, 6, 8, 4, 7, 3, 4, 3, 3, 8, 9, 1, 6, 1, 5, 3, 2, 10, 10, 5, 6, 2, 8, 5, 1, 2, 2, 1, 1, 8, 8, 2, 2, 7, 6, 7, 3, 8]

Lista com 10 números entre 300 e 700:
[696, 518, 597, 521, 314, 437, 304, 640, 659, 649]

In [3]:
lista = np.concatenate((lista_1_10, lista_300_700))

In [4]:
lista

array([  9,   4,   4,   1,   7,  10,   4,   7,   8,   1,   8,  10,   9,
         9,   2,   6,  10,   3,   4,   8,   9,   8,   4,   5,   3,   1,
         1,   1,   1,   2,   1,   8,   2,   6,  10,   1,   9,   8,   9,
         9,   9,   4,   7,   8,   7,   2,   3,   6,   7,  10,   7,   3,
         4,   6,   8,   4,   7,   3,   4,   3,   3,   8,   9,   1,   6,
         1,   5,   3,   2,  10,  10,   5,   6,   2,   8,   5,   1,   2,
         2,   1,   1,   8,   8,   2,   2,   7,   6,   7,   3,   8, 696,
       518, 597, 521, 314, 437, 304, 640, 659, 649])

### Para transformar a lista em um dataframe
df = pd.DataFrame(list)

In [5]:
df = pd.DataFrame({'numeros': lista})
df

    numeros
0         9
1         4
2         4
3         1
4         7
..      ...
95      437
96      304
97      640
98      659
99      649

[100 rows x 1 columns]

In [6]:
print(f"A média da lista é {df.numeros.mean()}")
print(f"A mediana da lista é {df.numeros.median()}")
print(f"A moda da lista é {df.numeros.mode()[0]}")

A média da lista é 58.11
A mediana da lista é 6.0
A moda da lista é 1

In [7]:
print(f"Quartil 1 = {df.numeros.quantile(0.25)}")
print(f"Quartil 2 / mediana = {df.numeros.quantile(0.50)}")
print(f"Quartil 3 = {df.numeros.quantile(0.75)}")

Quartil 1 = 3.0
Quartil 2 / mediana = 6.0
Quartil 3 = 9.0

In [8]:
print(f"Valor mínimo: {df.numeros.min()}")
print(f"Valor máximo: {df.numeros.max()}")

Valor mínimo: 1
Valor máximo: 696

In [9]:
percentis = [0.10, 0.12, 0.20, 0.30, 0.40, 0.50, 0.60, 0.70, 0.80, 0.90, 0.92]

In [10]:
percentis_result = df['numeros'].quantile(percentis)
percentis_result

0.10      1.00
0.12      1.00
0.20      2.00
0.30      3.00
0.40      4.00
0.50      6.00
0.60      7.00
0.70      8.00
0.80      9.00
0.90     39.40
0.92    323.84
Name: numeros, dtype: float64

## Medidas de dispersão

In [13]:
print(f"A amplitude da lista é: {df.numeros.max() - df.numeros.min()}")
print(f"A distância inter-quartil: {df.numeros.quantile(0.75) - df.numeros.quantile(0.25)}")
print(f"A variância é: {df.numeros.var()}")
print(f"O desvio padrão é: {df.numeros.std()}")
print(f"O coeficiente de variação é: {df.numeros.std() / df.numeros.mean()}")

A amplitude da lista é: 695
A distância inter-quartil: 6.0
A variância é: 27205.129191919186
O desvio padrão é: 164.9397744387908
O coeficiente de variação é: 2.838406030610752

### Assimetria

In [12]:
print(f"Coeficiente de assimetria (skweness) é = {df.numeros.skew()}")

Coeficiente de assimetria (skweness) é = 2.998568334362273