In [ ]:
import pandas as pd
import numpy as np
import random

## Medidas de posição

In [102]:
# Lista com 90 números entre 1 e 10
lista_1_10 = [random.randint(1, 10) for _ in range(90)]

# Lista com 10 números entre 300 e 700
lista_300_700 = [random.randint(300, 700) for _ in range(10)]

print("Lista com 90 números entre 1 e 10:")
print(lista_1_10)

print("\nLista com 10 números entre 300 e 700:")
print(lista_300_700)

Lista com 90 números entre 1 e 10:
[5, 3, 4, 1, 4, 2, 3, 7, 6, 3, 9, 6, 6, 4, 3, 4, 9, 4, 2, 7, 5, 8, 8, 7, 6, 2, 3, 1, 8, 8, 6, 7, 7, 1, 6, 3, 9, 6, 3, 9, 7, 8, 3, 8, 3, 8, 9, 10, 9, 1, 2, 2, 9, 1, 8, 7, 4, 3, 3, 4, 10, 10, 10, 8, 8, 3, 8, 8, 5, 6, 8, 4, 8, 8, 4, 2, 4, 4, 1, 1, 9, 1, 7, 2, 5, 8, 10, 10, 6, 8]

Lista com 10 números entre 300 e 700:
[658, 446, 456, 346, 502, 564, 576, 398, 345, 652]

In [105]:
lista = np.concatenate((lista_1_10, lista_300_700))

In [106]:
lista

array([  5,   3,   4,   1,   4,   2,   3,   7,   6,   3,   9,   6,   6,
         4,   3,   4,   9,   4,   2,   7,   5,   8,   8,   7,   6,   2,
         3,   1,   8,   8,   6,   7,   7,   1,   6,   3,   9,   6,   3,
         9,   7,   8,   3,   8,   3,   8,   9,  10,   9,   1,   2,   2,
         9,   1,   8,   7,   4,   3,   3,   4,  10,  10,  10,   8,   8,
         3,   8,   8,   5,   6,   8,   4,   8,   8,   4,   2,   4,   4,
         1,   1,   9,   1,   7,   2,   5,   8,  10,  10,   6,   8, 658,
       446, 456, 346, 502, 564, 576, 398, 345, 652])

### Para transformar a lista em um dataframe
df = pd.DataFrame(list)

In [107]:
df = pd.DataFrame({'numeros': lista})
df

    numeros
0         5
1         3
2         4
3         1
4         4
..      ...
95      564
96      576
97      398
98      345
99      652

[100 rows x 1 columns]

In [108]:
print(f"A média da lista é {df.numeros.mean()}")
print(f"A mediana da lista é {df.numeros.median()}")
print(f"A moda da lista é {df.numeros.mode()[0]}")

A média da lista é 54.43
A mediana da lista é 6.0
A moda da lista é 8

In [132]:
print(f"Quartil 1 = {df.numeros.quantile(0.25)}")
print(f"Quartil 2 / mediana = {df.numeros.quantile(0.50)}")
print(f"Quartil 3 = {df.numeros.quantile(0.75)}")

Quartil 1 = 3.0
Quartil 2 / mediana = 6.0
Quartil 3 = 8.0

In [117]:
print(f"Valor mínimo: {df.numeros.min()}")
print(f"Valor mínimo: {df.numeros.max()}")

Valor mínimo: 1
Valor mínimo: 658

In [130]:
percentis = [0.10, 0.12, 0.20, 0.30, 0.40, 0.50, 0.60, 0.70, 0.80, 0.90, 0.92]

In [131]:
percentis_result = df['numeros'].quantile(percentis)
percentis_result

0.10      2.00
0.12      2.00
0.20      3.00
0.30      4.00
0.40      5.00
0.50      6.00
0.60      8.00
0.70      8.00
0.80      9.00
0.90     43.50
0.92    350.16
Name: numeros, dtype: float64

## Medidas de dispersão

In [140]:
print(f"A amplitude da lista é = {df.numeros.max() - df.numeros.min()}")
print(f"A distância inter-quartil = {df.numeros.quantile(0.75) - df.numeros.quantile(0.25)}")
print(f"A variância é = {df.numeros.var()}")
print(f"O desvio padrão é = {df.numeros.std()}")
print(f"O coeficiente de variação é = {df.numeros.std() / df.numeros.mean()}")

A amplitude da lista é = 657
A distância inter-quartil = 5.0
A variância é = 22940.914242424245
O desvio padrão é = 151.46258363841628
O coeficiente de variação é = 2.7827040903622318

### Assimetria

In [142]:
print(f"Coeficiente de assimetria (skweness) é = {df.numeros.skew()}")

Coeficiente de assimetria (skweness) é = 2.9698634150307326