In [ ]:
import pandas as pd
import numpy as np
import random

In [102]:
# Lista com 90 números entre 1 e 10
lista_1_10 = [random.randint(1, 10) for _ in range(90)]

# Lista com 10 números entre 300 e 700
lista_300_700 = [random.randint(300, 700) for _ in range(10)]

print("Lista com 90 números entre 1 e 10:")
print(lista_1_10)

print("\nLista com 10 números entre 300 e 700:")
print(lista_300_700)

Lista com 90 números entre 1 e 10:
[5, 3, 4, 1, 4, 2, 3, 7, 6, 3, 9, 6, 6, 4, 3, 4, 9, 4, 2, 7, 5, 8, 8, 7, 6, 2, 3, 1, 8, 8, 6, 7, 7, 1, 6, 3, 9, 6, 3, 9, 7, 8, 3, 8, 3, 8, 9, 10, 9, 1, 2, 2, 9, 1, 8, 7, 4, 3, 3, 4, 10, 10, 10, 8, 8, 3, 8, 8, 5, 6, 8, 4, 8, 8, 4, 2, 4, 4, 1, 1, 9, 1, 7, 2, 5, 8, 10, 10, 6, 8]

Lista com 10 números entre 300 e 700:
[658, 446, 456, 346, 502, 564, 576, 398, 345, 652]

In [105]:
lista = np.concatenate((lista_1_10, lista_300_700))

In [106]:
lista

array([  5,   3,   4,   1,   4,   2,   3,   7,   6,   3,   9,   6,   6,
         4,   3,   4,   9,   4,   2,   7,   5,   8,   8,   7,   6,   2,
         3,   1,   8,   8,   6,   7,   7,   1,   6,   3,   9,   6,   3,
         9,   7,   8,   3,   8,   3,   8,   9,  10,   9,   1,   2,   2,
         9,   1,   8,   7,   4,   3,   3,   4,  10,  10,  10,   8,   8,
         3,   8,   8,   5,   6,   8,   4,   8,   8,   4,   2,   4,   4,
         1,   1,   9,   1,   7,   2,   5,   8,  10,  10,   6,   8, 658,
       446, 456, 346, 502, 564, 576, 398, 345, 652])

## Para transformar a lista em um dataframe
df = pd.DataFrame(list)

In [107]:
df = pd.DataFrame({'numeros': lista})
df

    numeros
0         5
1         3
2         4
3         1
4         4
..      ...
95      564
96      576
97      398
98      345
99      652

[100 rows x 1 columns]

In [108]:
print(f"A média da lista é {df.numeros.mean()}")
print(f"A mediana da lista é {df.numeros.median()}")
print(f"A moda da lista é {df.numeros.mode()[0]}")

A média da lista é 54.43
A mediana da lista é 6.0
A moda da lista é 8